body {
    background-color: #09262e;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1, h2 {
    font-family: "Titan One", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #9db1b8;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    color: #9db1b8;
}

a {
    background-image: linear-gradient(
        to right,
        #ff7ece,
        #ff7ece 50%,
        #f1eae2 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

a:before {
    content: '';
    background: #ff7ece;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-position: 0;
}

a:hover::before {
    width: 100%;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03181b;
    border-radius: 5px; 
}

li {
    float: left;
    padding: 10px 20px 10px;
    
}

li a {
    display: block
}

.project {
    border: 1px solid #9db1b8;
    border-radius: 5px; 
    margin: 5px;
    padding: 10px;
    flex: 0 0 200px;
    color: #9db1b8;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    color: #9db1b8;
}

.proimg {
    background: #09262e;
    width: 400px;
    height: 200px;
    overflow: hidden;
    border-radius: 5px; 
    color: #9db1b8;
}

.proimg img {
    width: 100%;
    height: 100%;
    border-radius: 5px; 
    object-fit: cover;
    object-position: center top;
    opacity: .5;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.proimg:hover img {
    opacity: 1;
}

input[type=text], input[type=email], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #f1eae2; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
  font-family: "Montserrat", sans-serif;
}

input[type=text]::placeholder, textarea::placeholder, input[type=email]::placeholder {
    color: #09262e;
    opacity: 0.7;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border: 2px solid #ff7ece;
    outline: none;
}

.submit-button {
  min-width: 130px;
  height: 40px;
  color: #09262e;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease, color 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #09262e;
  overflow: hidden;
  border: 2px solid #09262e;
  color: #f1eae2;
}

.submit-button:hover {
  color: #09262e;
  border: 2px solid #ff7ece;
}

.submit-button:hover:after {
  height: 100%;
}

.submit-button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #ff7ece;
}

.contact-form {
  border-radius: 5px;
  background-color: #9db1b8;
  padding: 20px;
  color: #03181b;
}

@media (max-width: 600px) {
    .project, .proimg {
        width: 100%;
        height: auto;
    }
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #03181b;
    color: #f1eae2;
}