body {
    background-color: #09262e;

    color: #9db1b8;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1, h2 {
    font-family: "Titan One", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

a {
    color: #9db1b8;
}

a:hover {
    color: #f1eae2;
}

li {
    float: left;
}

li a {
    color: #f1eae2;
    display: block;
    padding: 10px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #9db1b8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03181b;
}

.project {
    border: 1px solid #9db1b8;
    margin: 5px;
    padding: 10px;
    flex: 0 0 200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}